.P-login{
    position:absolute;
    top:0;
    bottom:0;
    width:100%;
    background: #f0f1f1
    align-content: center;
    .logo{
        width:150px;
        height: 150px;
        display:block;
        margin:50px auto 20px;
        text-align: center;
    }
    .ipt-con{
        margin:0 auto 20px;
        width:400px;
        text-align: center;    
    }

}

